site_name: Machine Learning
copyright: HG 2021-2024
site_author: Bart Barnard en Erik Roos
site_description: 'Stof en opgaven voor Machine Learning (jaar 4 SE)'
site_url: 'https://hanze-hbo-ict.github.io/Machine-Learning/'
use_directory_urls: false

theme:
  name: 'material'
  palette:
    primary: 'blue grey'
    accent: 'orange'
  icon:
    logo: 'material/library'
  language: 'nl'
  include_sidebar: false
  features:
    - navigation.sections
    - navigation.expand
extra_css:
  - css/extra.css

nav:
  - index.md
  - Deel 1:
    - deel1/week1.md
    - deel1/week2.md
    - deel1/inleveren.md
  - Deel 2:
    - deel2/week3.md
    - deel2/week4.md
    - deel2/inleveren.md
  - Deel 3:
    - deel3/week5.md
    - deel3/week6.md
    - deel3/inleveren.md
  - Deel 4:
    - deel4/week7.md
    - deel4/week8.md
    - deel4/inleveren.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - markdown.extensions.codehilite:
      guess_lang: False
      linenums: True
  - markdown.extensions.toc:
      permalink: true
      toc_depth: 3
  - markdown.extensions.def_list
  - markdown.extensions.admonition
  - markdown.extensions.footnotes
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed
  - attr_list

extra_javascript:
  - js/imgs.js
  - js/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
#  - with-pdf
  - search
